@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
body {
  margin: 0;
   font-family: "Tajawal", sans-serif;

}

h1{
  font-family: "El Messiri", sans-serif;

}
